In [4]:
import pandas as pd
import numpy as np

In [12]:
df_ouput = pd.DataFrame()
df_ouput['Position'] = np.arange(2,22)
df_ouput['dataset_1'] = np.arange(0,20)-10
df_ouput['dataset_2'] = (np.arange(0,20)+10)

In [18]:
df_ouput['d1 - d2'] = (df_ouput['dataset_2']**2 - df_ouput['dataset_1']**2)
df_diff = df_ouput.groupby(['Position'], as_index=False).mean()**0.5
df_diff

    Position  dataset_1  dataset_2    d1 - d2
0   1.414214        NaN   3.162278   0.000000
1   1.732051        NaN   3.316625   6.324555
2   2.000000        NaN   3.464102   8.944272
3   2.236068        NaN   3.605551  10.954451
4   2.449490        NaN   3.741657  12.649111
5   2.645751        NaN   3.872983  14.142136
6   2.828427        NaN   4.000000  15.491933
7   3.000000        NaN   4.123106  16.733201
8   3.162278        NaN   4.242641  17.888544
9   3.316625        NaN   4.358899  18.973666
10  3.464102   0.000000   4.472136  20.000000
11  3.605551   1.000000   4.582576  20.976177
12  3.741657   1.414214   4.690416  21.908902
13  3.872983   1.732051   4.795832  22.803509
14  4.000000   2.000000   4.898979  23.664319
15  4.123106   2.236068   5.000000  24.494897
16  4.242641   2.449490   5.099020  25.298221
17  4.358899   2.645751   5.196152  26.076810
18  4.472136   2.828427   5.291503  26.832816
19  4.582576   3.000000   5.385165  27.568098

In [6]:
        df_ouput['d1 - d2'] = (df_ouput['dataset_1'].mean() - df_ouput['dataset_2'])
        df_diff = df_ouput.groupby(['Position'], as_index=False).mean()
    elif metric.lower() == 'rmse':
        df_ouput['d1 - d2'] = ((df_ouput['dataset_1'] - df_ouput['dataset_2'])**2)
        df_diff = df_ouput.groupby(['Position'], as_index=False).mean()**0.5
    elif metric.lower() == 'squared':
        df_ouput['d1 - d2'] = (df_ouput['dataset_1']**2 - df_ouput['dataset_2']**2)
        df_diff = df_ouput.groupby(['Position'], as_index=False).mean()
    df_diff.dropna(how='any', inplace=True)
    return df_diff

    Position  dataset_1  dataset_2
0          0        -10         10
1          1         -9         11
2          2         -8         12
3          3         -7         13
4          4         -6         14
5          5         -5         15
6          6         -4         16
7          7         -3         17
8          8         -2         18
9          9         -1         19
10        10          0         20
11        11          1         21
12        12          2         22
13        13          3         23
14        14          4         24
15        15          5         25
16        16          6         26
17        17          7         27
18        18          8         28
19        19          9         29

In [19]:
l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c"])

In [20]:
df.groupby(by=["b"]).mean()
df

       a    c
b
1.0  2.0  3.0
2.0  1.0  2.5